<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>
</head>
<body>
    <h2>Registros</h2>
        <table border="1">
            <theard>
                <tr>
                    <td>Nome</td>
                    <td>Sobrenome</td>
                </tr>
            </theard>
        <tbody>
            <% data.forEach((details) => { %>
                <tr>
                    <td><%= details.name %></td>
                    <td><%= details.surname %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
        <button><a href="/">Voltar</a></button>
</body>
</html>